.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #eeeeee;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  
  .app-container {
    padding-top: 20px;
  }